################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureBlobLinkwithSasToken/bin/Debug/net9.0
/AzureBlobLinkwithSasToken/obj
